.stellarNewsLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  filter: drop-shadow(3px 3px 5px #00000067);

  .stellarNewsRight {
    height: 100%;
    margin-left: 2%;
  }

  .stellarNewsLeft {
    height: 175%;
  }
}
