//* pages margins
$content-margin: 4rem 15%;
$content-margin-tablet: 4rem 10%;
$content-margin-mobile: 4rem 8%;

//* media queries
$small: 640px;
$mobile: 768px;
$tablet: 1024px;
$desktop: 1280px;
$large: 1536px;

//* fonts
$header-font: 'Orbitron', system-ui;
$body-font: 'Kanit', sans-serif;
