@use '../../styles/variables' as var;

.homePage {
  margin: var.$content-margin;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .homePageTitle {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: end;

    @media (max-width: var.$small) {
      margin-top: 3rem;
      text-align: center;
    }

    .homePageTitleLogo {
      display: inline-block;
      transform-origin: center;
      margin-left: 0.3rem;
      font-size: 2rem;
    }
  }

  .homeDescription {
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: end;
    margin-left: 10%;

    @media (max-width: var.$small) {
      text-align: center;
      margin-left: 0;
    }
  }

  .usersTitle {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: end;
  }

  .usersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  @media (max-width: var.$tablet) {
    margin: var.$content-margin-tablet;
  }

  @media (max-width: var.$mobile) {
    margin: var.$content-margin-mobile;
  }
}
